// Style for button and pseudo button for input and link

.btn {
	color: #201f1f;
	font-family: $main_font_family;
	font-size: 1.2em;
	font-weight: 700;
	padding: 2em 1.5em 1.8em;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: #fedd69;
	text-align: center;
	letter-spacing: 0.02em;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0.7em;
	transition: all 0.3s;
	text-decoration: none;
	height: auto;

	@media (min-width: 768px) {
		font-size: 1em;
		padding: 2em 2.07em 1.8em;
	}

	&:hover {
		background-color: #ffe68c;
	}

	&:active,
	&:focus {
		background-color: darken(#fedd69, 5%);
	}
	@each $status_el, $color_bg in $el_colors {
		&_#{$status_el} {
			background-color: $color_bg;
			border-color: $color_bg;
			color: $btn_contrast_text_color;

			&:hover {
				background-color: darken($color_bg, 7%);
				color: $btn_contrast_text_color;
			}

			&:active,
			&:focus {
				background-color: darken($color_bg, 10%);
				color: $btn_contrast_text_color;
			}
		}
	}
}
