block variables
    -var version = "2.4";
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(property="og:image" content="/img/meta_prev.jpg")
        meta(property="og:image:width" content="1200")
        meta(property="og:image:height" content="630")

        title Организуем фуршеты и банкеты премиум-класса от 10 до 5 000 человек — Мольберт Банкет
        meta(name="description" content="Заполните форму на сайте и получите готовое коммерческое предложение уже через 2 часа. Мы подготовим 3 варианта меню под ваш бюджет.")

        link(rel="stylesheet", type="text/css", href="css/style.css?"+version+"")
    body
        header.header
            .header__content
                .header__left
                    a.logo(href="/")
                        img(src="img/logo.png", alt="Мольберт")
                    .logo__text Ресторан выездного обслуживания
                .header__center Кейтеринг <br>в Москве и МО
                .header__right
                    a.call(href="tel:+7(495) 565-37-31") +7(495) 565-37-31
                    .call__action(data-toggle="modal" data-target="#callBack") Перезвонить вам?

        main.main_content

            // begin fScreen
            section#fScreen.fScreen
                .container_center
                    .fScreen__content
                        .fScreen__left
                            h1.fScreen__title Организуем фуршеты, коференции, банкеты 
                                span премиум-класса 
                                |масштабом от 10 до 5000 человек
                            .fScreen__sub Получите расчет 3-х вариантов меню под ваш бюджет 
                            .fScreen__action
                                button.btn(type="button" data-toggle="modal" data-target="#getMenu") Получить расчет меню
                                .fScreen__actionText Будет у вас на почте 
                                    span уже через 2 часа
                                .fScreen__actionImg
                                    picture
                                        source(srcset="img/fScreen_action.png" media="(min-width: 768px)")
                                        img(src="img/fScreen_action.png" alt="alt")
                        .fScreen__right
                            .fScreen__list
                                .fScreen__listItem
                                    .fScreen__listImg
                                        img(src="img/fList1.png", alt="alt")
                                    .fScreen__listText
                                        b Более 20 
                                        |анимационных гастро-станций
                                .fScreen__listItem
                                    .fScreen__listImg
                                        img(src="img/fList2.png", alt="alt")
                                    .fScreen__listText
                                        b Кулинарные 
                                        |мастер-классы и 
                                        b шоу программы


                                .fScreen__listItem
                                    .fScreen__listImg
                                        img(src="img/fList3.png", alt="alt")
                                    .fScreen__listText
                                        b Дизайнерский 
                                        |декор и аксессуары

            // end fScreen

            // begin service
            section.section.service#service
                .container_center
                    h2.section__title.section__title_center Детально продумаем концепцию вашего торжества и приготовим 
                        span вкусные, оригинальные блюда 
                    .section__sub.section__sub_center Получите расчет 3-х вариантов меню под ваш бюджет 
                    .service__content
                        -var service = ['Банкеты', 'Фуршеты', 'Гала-ужины', 'Свадебные торжества', 'Барбекю на природе', 'Кофе-брейки'];
                        each item, index in service
                            .service__item
                                .service__plate
                                    .service__img
                                        img(src="img/service"+(index+1)+".png", alt="alt")
                                    .service__name= item

            // end service

            // begin twoHour
            section.section.twoHour#twoHour
                .container_center
                    .twoHour__content
                        img.twoHour__bg(src="img/twoHour.png", alt="Меню")
                        .twoHour__left
                            h2.section__title Заполните форму и получите готовое коммерческое предложение 
                                br
                                span уже через 2 часа 
                            .section__sub 3 варианта меню под ваш бюджет 
                            .twoHour__comment
                                .twoHour__commentIcon
                                    img(src="img/comment.png", alt="")
                                .twoHour__commentContent После утверждения меню мы сможем назначить встречу 
                                    span для бесплатной дегустации
                        .twoHour__right
                            form.form(action="#" method="method")
                                input(type="hidden", name="subject" value="3 варианта меню")
                                .form__title Заполните форму
                                .form__row
                                    .form__label На какой номер вам перезвонить, чтобы уточнить детали вашего мероприятия?
                                    input(type="tel", name="tel" placeholder="+7(___)___-__-__" required)
                                .form__row
                                    .form__label Куда выслать готовый расчет?
                                    input(type="email", name="email" placeholder="mail@mail.ru" required)
                                .form__row
                                    button.btn(type="submit") Получить расчет меню
                                .form__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                                    a(href="#" data-toggle="modal" data-target="#privacy") Политикой конфиденциальности

            // end twoHour

            .darkWrap
                // begin wow
                section.section.wow#wow
                    .container_center
                        h2.section__title 
                            span Сервировка, 
                            |которая вызывает WOW-эффект и удивляет даже самых искушенных
                        .section__sub Предложим вам десятки способов, чтобы превратить подачу блюд 
                            span в 
                            span арт-объект
                            .wow__info
                                .wow__infoContent
                                    .wow__infoIcon
                                        img(src="img/information.png", alt="")
                                    .wow__infoText Например, используем вертикальные стенды, где можно разместить салаты в индивидуальной упаковке, пончики, напитки и т. п


                        .wow__list
                            .wow__listItem
                                .wow__listImg
                                    img(src="img/wow1.png", alt="Необычные подвесные конструкции")
                                .wow__listText Необычные подвесные конструкции


                            .wow__listItem
                                .wow__listImg
                                    img(src="img/wow2.png", alt="Эко-стиль")
                                .wow__listText Эко-стиль
                            .wow__listItem
                                .wow__listImg
                                    img(src="img/wow3.png", alt="Donut Wall")
                                .wow__listText Donut Wall
                            .wow__listItem
                                .wow__listImg
                                    img(src="img/wow4.png", alt="Shampagne Wall")
                                .wow__listText Shampagne Wall
                            .wow__listBage
                                img(src="img/instagram-logo.png", alt="")
                                span Гости будут 
                                    br 
                                    |активно делиться
                                    br
                                    |фото с вашего
                                    br
                                    |ивента в
                                    br
                                    |соцсетях!

                // end wow

                // begin show
                section.section.show#show
                    .show__content
                        h2.section__title
                            span Кулинарные 
                            |шоу-программы
                        .section__sub Гости готовят еду вместе с поваром

                // end show

                // begin molecular
                section.section.molecular#molecular
                    .container_center
                        .molecular__content
                            .molecular__left
                                h2.section__title 
                                    span Молекулярная кухня, 
                                    |где используются инструменты из научных лабораторий 
                                .section__sub Последние технические новинки <br>и безопасные пищевые добавки позволяют нам создать 
                                    span блюда удивительного вкуса, 
                                    |которые 
                                    span невозможно приготовить 
                                    |в домашних условиях
                            .molecular__right
                                .molecularMeals__item
                                    .molecularMeals__img
                                        img(src="img/molecul1.png", alt="")
                                    .molecularMeals__text Апельсиновые спагетти
                                .molecularMeals__item
                                    .molecularMeals__img
                                        img(src="img/molecul2.png", alt="")
                                    .molecularMeals__text Твердый мохито
                                .molecularMeals__item
                                    .molecularMeals__img
                                        img(src="img/molecul3.png", alt="")
                                    .molecularMeals__text Вишня из фуагра

                        .molecular__listTitle Блюда могут подаваться в разных форматах:
                        .service__content
                            -var service = ['Анимационная гастро-станция', 'Мастер-класс с участием гостей', 'Фуршетная линия закусок'];
                            each item, index in service
                                .service__item
                                    .service__plate
                                        .service__img
                                            img(src="img/molecular"+(index+1)+".png", alt="alt")
                                        .service__name= item

                        .molecular__action
                            button.btn(type="button" data-toggle="modal" data-target="#getMenuMolecular") Рассчитать стоимость молекулярного меню

                // end molecular

            // begin station
            section.section.station#station
                .container_center
                    h2.section__title.section__title_center 
                        span Более 20 анимационных гастро-станций, 
                        |на которых повара демонстрируют 
                        br
                        |свое мастерство
                    .section__sub.section__sub_center Анимационные станции всегда вызывают интерес и желание попробовать блюдо, которое было приготовлено здесь и сейчас
                    .station__content
                        .wow__list
                            .wow__listItem
                                .wow__listImg
                                    img(src="img/station1.png", alt="Бургерная станция")
                                .wow__listText Бургерная станция
                            .wow__listItem
                                .wow__listImg
                                    img(src="img/station2.png", alt="Вафли из Гонконга")
                                .wow__listText Вафли из Гонконга
                            .wow__listItem
                                .wow__listImg
                                    img(src="img/station3.png", alt="Станция морских ежей")
                                .wow__listText Станция морских ежей
                            .wow__listItem
                                .wow__listImg
                                    img(src="img/station4.png", alt="Хамон станция")
                                .wow__listText Хамон станция

            // end station

            // begin place
            section.section.place#place
                .container_center
                    h2.section__title.section__title_center
                        span Поможем подобрать место, 
                        |идеально подходщее под формат вашего мероприятия
                    .section__sub.section__sub_center Сотрудничаем с лучшими площадками Москвы
                    .place__content
                        .service__content
                            .service__item
                                .service__plate
                                    .service__img
                                        img(src="img/place1.png", alt="")
                                    .service__name ЦДП
                                    .service__text
                                        .service__adress
                                            b Адрес: 
                                            |г.&nbsp;Москва, ул.&nbsp;Покровка, 
                                            br
                                            |д.&nbsp;47
                                        p Современные и полностью оснащенные залы, профессиональный и оперативный менеджмент позволят сэкономить ваши ресурсы и время
                                        ul
                                            li Большой зал и Малый зал 
                                            li Фойе
                                            li Аудитории и Лектории 
                                            li Видеоповерхности
                                            li Медиафасад (при согласовании контента) 
                                            li Звуковое и световое оборудование 

                            .service__item
                                .service__plate
                                    .service__img
                                        img(src="img/place2.png", alt="")
                                    .service__name ДАНИЛОВСКИЙ EVENT HALL
                                    .service__text
                                        .service__adress
                                            b Адрес: 
                                            |г.&nbsp;Москва, ул.&nbsp;Дубининская, д.71, стр.5
                                        p Светлый, современный интерьер с легкими акцентами актуальной классики создает уютное и очень гармоничное пространство.
                                        p Оригинальное дизайнерское решение притягивает внимание и делает атмосферу зала не только комфортной, но и поистине волшебной

                            .service__item
                                .service__plate
                                    .service__img
                                        img(src="img/place3.png", alt="")
                                    .service__name Digital LOFT
                                    .service__text
                                        .service__adress
                                            b Адрес: 
                                            |г.&nbsp;Москва, ул.&nbsp;Большая Почтовая, д.&nbsp;20с1

                                        p 2 этажа 800 метрового лофта, с изолированными друг от друга входными группами, внутри образуют единое пространство, соединенное широкой лестницей и просторными холлами

                    .place__action
                        button.btn(type="button"  data-toggle="modal" data-target="#getPlace") Получить полный каталог площадок

            // end place

            // begin catering
            section.section.catering#catering
                .container_center
                    .catering__top
                        .catering__left
                            img(src="img/director.png", alt="alt")
                            .catering__name Александр Смирнов
                            .catering__prof Генеральный директор «Мольберт» кейтеринг
                        .catering__right
                            h2.section__title Кейтеринг 
                                span «Мольберт»
                            ul.catering__list
                                li С 2018 года провели более 100 мероприятий и обслужили около 30 000 гостей
                                li 40 сотрудников в штате и более 500 на субподряде
                            .catering__descr «Наш подход — относиться предельно внимательно ко всем деталям в оформлении, декоре, сервировке, подаче. Мы продумываем каждый элемент, чтобы у вас получился идеальный праздник»
                    form.form.catering__form
                        input(type="hidden", name="subject" value="Перезвоните мне (блок Генеральный директор)")
                        .form__title Мы готовы проконсультировать вас по любому вопросу
                        .form__sub Оставьте заявку, и мы перезвоним вам уже через 15 минут в рабочее время
                        .form__row
                            .form__col
                                input(type="tel", name="tel" placeholder="+7(___)___-__-__" required)
                            .form__col
                                button.btn(type="submit") Перезвоните мне
                        .form__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                            a(href="#" data-toggle="modal" data-target="#privacy") Политикой конфиденциальности
                        img.catering__img(src="img/plan.png", alt="")

            // end catering

            // begin menuPosition
            section.section.menuPosition#menuPosition
                .container_center
                    .menuPosition__content
                        .menuPosition__left
                            img.menuPosition__paper(src="img/paperShading.png", alt="")
                            .twoHour__comment
                                .twoHour__commentIcon
                                    img(src="img/smile.png", alt="")
                                .twoHour__commentContent Мы поможем подобрать блюда под ваши пожелания либо вы 
                                    span можете довериться 
                                    |нашим профессионалам и 
                                    span попробовать что-то совсем новое ;) 
                        .menuPosition__right
                            h2.section__title 
                                span Более 2000 позиций в меню, 
                                |идеально подходящих под формат кейтеринга
                            .section__sub Наше меню регулярно расширяется и включает в себя все кухни мира и последние модные тренды
                            .menuPosition__descr Если у вас есть фирменное блюдо, мы с радостью его приготовим для ваших гостей или вместе с ними
                                img(src="img/menuPositionEx.png", alt="фирменное блюдо")

            // end menuPosition

            // begin servicing
            section.section.servicing#servicing
                .container_center
                    h2.section__title.section__title_center Наши ресурсы <br>обеспечивают высококлассное 
                        span ресторанное обслуживание
                    .servicing__content
                        .servicing__item
                            .servicing__img
                                img(src="img/servicing1.png", alt="")
                            .servicing__descr
                                .servicing__name Производство площадью 700 кв.м.,
                                .servicing__text которое справится с мероприятием любого масштаба и сложности
                        .servicing__item
                            .servicing__img
                                img(src="img/servicing2.png", alt="")
                            .servicing__descr
                                .servicing__name Собственная служба логистики
                                .servicing__text Не зависим от подрядчиков, которые могут подвести
                        .servicing__item
                            .servicing__img
                                img(src="img/servicing3.png", alt="")
                            .servicing__descr
                                .servicing__name Большой склад оборудования
                                .servicing__text Вам не придется переплачивать за аренду мебели
                        .servicing__item
                            .servicing__img
                                img(src="img/servicing4.png", alt="")
                            .servicing__descr
                                .servicing__name Штатный технолог, который 
                                .servicing__text контролирует качество приготовления и соответствие нормам
                        .servicing__item
                            .servicing__img
                                img(src="img/servicing5.png", alt="")
                            .servicing__descr
                                .servicing__name Фермерские продукты
                                .servicing__text Поставки только от проверенных поставщиков

            // end servicing

            // begin chef
            // section.section.chef#chef
                .container_center
                    .chef__content
                        .chef__left
                            h2.section__title Шеф-повар, которому доверяют мероприятия 
                                span государственного уровня
                            ul.chef__list
                                li.chef__listItem Организация питания для VIP-персон на саммите АТЭС во Владивостоке (400 человек)
                                li.chef__listItem Организация питания президентской ложи на открытии Олимпийских игр в Сочи (240 человек)
                                li.chef__listItem Неоднократная помощь в организации мероприятий для двухсторонних встреч глав государств в Сочи, Санкт-Петербурге и Москве
                                li.chef__listItem Совместная работа с известными итальянскими и французскими  шеф-поварами: Мирко Калдино, Карло Греку, Николас Отт
                                li.chef__listItem Опыт в организации питания на мероприятиях численностью до 5000 человек
                                li.chef__listItem Обучение техникам молекулярной кухни в Европе
                                li.chef__listItem Организация мероприятий для министров и губернаторов
                        .chef__right
                            img(src="img/chef.jpg", alt="Сергей Еремин")
                            .catering__name Сергей Еремин
                            .catering__prof Шеф-повар «Мольберт» кейтеринг

            // end chef

            .darkenWrap

                // begin fullServ
                section.section.fullServ#fullServ
                    .container_center
                        h2.section__title.section__title_center Сделаем так, что 
                            span ваше торжество пройдет идеально 
                            |от начала до конца
                        .fullServ__content
                            .fullServ__item
                                .fullServ__count
                                    img(src="img/01.png", alt="")
                                .fullServ__wrap
                                    .fullServ__text
                                        b Персональный менеджер, 
                                        |который всегда на связи, чтобы ответить на вопрос или срочно скорректировать заказ
                            .fullServ__item
                                .fullServ__count
                                    img(src="img/02.png", alt="")
                                .fullServ__wrap
                                    .fullServ__text
                                        b Точный тайминг подачи блюд,
                                        |за которым ваш менеджер будет следить лично
                            .fullServ__item
                                .fullServ__count
                                    img(src="img/03.png", alt="")
                                .fullServ__wrap
                                    .fullServ__text
                                        b Лучшие площадки Москвы,
                                        |подобранные специально  под формат вашего мероприятия и численность гостей

                        .fullServ__form
                            .fullServ__left
                                .fullServ__title Оставьте заявку,
                                .fullServ__sub чтобы обсудить свои пожелания <br>с нашим менеджером и получить расчет 3 вариантов меню под ваш бюджет
                                .twoHour__comment
                                    .twoHour__commentIcon
                                        img(src="img/star.png", alt="")
                                    .twoHour__commentContent Пришлем на вашу почту 
                                        span уже через 2 часа
                                img.fullServ__img(src="img/fullServMenu.png", alt="")
                            .fullServ__right
                                form.form
                                    input(type="hidden", name="subject" value="Получить расчет меню (блок ваше торжество пройдет идеально)")
                                    .form__row
                                        .form__label На какой номер вам перезвонить?
                                        input(type="tel", name="tel" placeholder="+7(___)___-__-__" required)
                                    .form__row
                                        .form__label Куда выслать готовый расчет?
                                        input(type="email", name="email" placeholder="mail@mail.ru" required)
                                    .form__row
                                        button.btn(type="submit") Получить расчет меню
                                    .form__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                                        a(href="#" data-toggle="modal" data-target="#privacy") Политикой конфиденциальности

                // end fullServ

                // begin uniform
                section.section.uniform#uniform
                    .container_center
                        h2.section__title.section__title_center Униформа официантов 
                            span безупречно 
                            |подойдет формату мероприятия 
                        .section__sub.section__sub_center Предлагаем на выбор 5 вариантов униформ персонала:
                        .uniform__content
                            .uniform__item
                                .uniform__text Каждый сотрудник регулярно проходит 
                                    b специальную аттестацию
                            .uniform__item
                                .uniform__text Для международных событий приглашаем 
                                    b персонал со знанием иностранных языков
                            .uniform__item
                                .uniform__text Все официанты и бармены имеют 
                                    b опыт работы на масштабных мероприятиях

                // end uniform

        // begin estimate
        section.section.estimate#estimate
            .container_center
                .estimate__content
                    .estimate__left
                        h2.section__title
                            span Точно рассчитаем смету, 
                            |чтобы гости были довольны, а бюджет использован рационально
                        .estimate__listTitle В стоимость входят: 
                        ul.estimate__list
                            li.estimate__listItem разработка индивидуального меню и концепции
                            li.estimate__listItem продукты, посуда, оборудование, аксессуары
                            li.estimate__listItem приготовление, сервировка, обслуживание и уборка
                            li.estimate__listItem печать меню на бланках
                            li.estimate__listItem организация именной рассадки
                            li.estimate__listItem доставка еды и оборудования

                        .estimate__other
                            .estimate__otherTitle Дополнительно можно заказать:
                            ul.estimate__otherList
                                li.estimate__otherItem Артистов шоу-бизнеса
                                li.estimate__otherItem Артистов шоу-программ
                                li.estimate__otherItem Бармен-шоу
                                li.estimate__otherItem Флористическое оформление
                                li.estimate__otherItem Световое и музыкальное оборудование

                    .estimate__right
                        .estimate__info
                            .estimate__infoItem
                                .estimate__infoImg
                                    img(src="img/estimate1.png", alt="")
                                .estimate__infoText
                                    b Прозрачные сметы
                                    |без скрытых сборов, доплат, комиссий
                            .estimate__infoItem
                                .estimate__infoImg
                                    img(src="img/estimate2.png", alt="")
                                .estimate__infoText
                                    b Бонусы
                                    |для постоянных клиентов
                            .estimate__infoItem
                                .estimate__infoImg
                                    img(src="img/estimate3.png", alt="")
                                .estimate__infoText
                                    b Нет «пробкового сбора»
                                    |Вы можете закупить свой алкоголь
                .estimate__slider
                    .estimate__sliderItem(style="background-image: url('img/estimateSlide1.jpg')")
                        .estimate__sliderDescr
                            b Банкет
                            |Частное мероприятие <br>260 персон
                    .estimate__sliderItem(style="background-image: url('img/estimateSlide2.jpg')")
                        .estimate__sliderDescr
                            b Фуршет 
                            |Компания «Мегафон» <br>260 персон
                    .estimate__sliderItem(style="background-image: url('img/estimateSlide3.jpg')")
                        .estimate__sliderDescr
                            b Фуршет 
                            |Компания «Бест Новострой» <br>260 персон
                    //- .estimate__sliderItem(style="background-image: url('img/estimateSlide1.jpg')")
                    //-     .estimate__sliderDescr
                    //-         b Банкет
                    //-         |Частное мероприятие <br>260 персон

                .estimate__thumps
                    .estimate__thumpsItem
                        .estimate__thumpsImg(style="background-image: url('img/estimateSlide1.jpg')")
                        .estimate__thumpsName 
                            span Банкет 
                            |Частное мероприятие
                            .estimate__thumpsName_hide 260 персон
                    .estimate__thumpsItem
                        .estimate__thumpsImg(style="background-image: url('img/estimateSlide2.jpg')")
                        .estimate__thumpsName
                            span Фуршет 
                            |Компания «Мегафон»
                            .estimate__thumpsName_hide 260 персон
                    .estimate__thumpsItem
                        .estimate__thumpsImg(style="background-image: url('img/estimateSlide3.jpg')")
                        .estimate__thumpsName
                            span Фуршет 
                            |Компания «Бест Новострой»
                            .estimate__thumpsName_hide 260 персон
                    //- .estimate__thumpsItem
                    //-     .estimate__thumpsImg(style="background-image: url('img/estimateThumps1.jpg')")
                    //-     .estimate__thumpsName
                    //-         span Банкет 
                    //-         |Частное мероприятие
                    //-         .estimate__thumpsName_hide 260 персон

        // end estimate

        // begin getOrder
        section.section.getOrder#getOrder
            .container_center
                .getOrder__content
                    .getOrder__left
                        h2.section__title Оставьте заявку и получите готовое коммерческое предложение 
                            span уже через 2 часа 
                        .getOrder__steps
                            .getOrder__item
                                .getOrder__img
                                    img(src="img/getOrder1.png", alt="")
                                .getOrder__text
                                    .getOrder__btn Шаг 1.
                                    |Вы получаете детальное коммерческое предложение с расчетом 3-х индивидуальных вариантов меню
                            .getOrder__item
                                .getOrder__text
                                    .getOrder__btn Шаг 2.
                                    |После утверждения меню назначаем встречу для бесплатной дегустации
                                .getOrder__img
                                    img(src="img/getOrder2.png", alt="")
                    .getOrder__right
                        form.form(action="#" method="method")
                            input(type="hidden", name="subject" value="Получить коммерческое предложение (последний блок)")
                            .form__title Заполните форму
                            .form__row
                                .form__label На какой номер вам перезвонить, чтобы уточнить детали вашего мероприятия?
                                input(type="tel", name="tel" placeholder="+7(___)___-__-__" required)
                            .form__row
                                .form__label Куда выслать готовый расчет?
                                input(type="email", name="email" placeholder="mail@mail.ru" required)
                            .form__row
                                button.btn(type="submit") Получить расчет меню
                            .form__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                                a(href="#" data-toggle="modal" data-target="#privacy") Политикой конфиденциальности

        // end getOrder

        footer.footer
            .container_center
                .footer__top
                    .footer__info
                        .footer__infoItem
                            .footer__infoIcon
                                img(src="img/mail.png", alt="")
                            a.footer__infoDescr(href="mailto: zakaz@molbert-banket.ru") zakaz@molbert-banket.ru
                        .footer__infoItem
                            .footer__infoIcon
                                img(src="img/clock.png", alt="")
                            .footer__infoDescr пн-сб с 09:00 до 18:00
                        .footer__infoItem
                            .footer__infoIcon
                                img(src="img/marker.png", alt="")
                            .footer__infoDescr г. Москва, 115088, ул. 2-я Машиностроения д.23
                        .footer__infoItem
                            .footer__infoIcon
                                img(src="img/insta.png", alt="@molbert.banket")
                            a.footer__infoDescr(href="https://www.instagram.com/molbert.banket/" target="blank") @molbert.banket

                    .footer__contact
                        a.call(href="tel:+7(495) 565-37-31") +7(495) 565-37-31
                        .call__action(data-toggle="modal" data-target="#callBack") Перезвонить вам?
                .footer__bottom
                    a.footer__privacy(href="#" data-toggle="modal" data-target="#privacy") Политика конфиденциальности
                    .footer__dev Создание сайта — 
                        a(href="http://timetofirst.ru/?utm_source=catering" target="blank") «Время Первых»


        //- // Button trigger modal callBack
        //- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#callBack") Click to open modal
        // Begin Modal callBack
        .modal.fade.callBack#callBack
            .modal-dialog.modal-dialog--sm
                .modal-content
                    a(href="#" class="modal-close" data-dismiss="modal")
                    .modal-body 
                        form.form(action="#" method="method")
                            input(type="hidden", name="subject" value="Перезвонить вам (блок с телефоном в шапке или подвале сайта)")
                            .form__title Заполните форму
                            .form__row
                                .form__label На какой номер вам перезвонить?
                                input(type="tel", name="tel" placeholder="+7(___)___-__-__" required)
                            .form__row
                                button.btn(type="submit") Заказать звонок
                            .form__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                                a(href="#" data-toggle="modal" data-target="#privacy") Политикой конфиденциальности
        // End modal callBack

        //- // Button trigger modal getMenu
        //- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#getMenu") Click to open modal
        // Begin Modal getMenu
        .modal.fade.getMenu#getMenu
            .modal-dialog
                .modal-content
                    a(href="#" class="modal-close" data-dismiss="modal")
                    .modal-body
                        .getMenu__content
                            .getMenu__left
                                .section__title Заполните форму 
                                    br
                                    |и получите готовое коммерческое предложение 
                                    span уже через 2 часа 
                                .section__sub 3 варианта меню под ваш бюджет 
                                .twoHour__comment
                                    .twoHour__commentIcon
                                        img(src="img/comment.png", alt="")
                                    .twoHour__commentContent После утверждения меню мы сможем назначить встречу 
                                        span для бесплатной дегустации
                            .getMenu__right
                                form.form(action="#" method="method")
                                    input(type="hidden", name="subject" value="Получить расчет меню")
                                    .form__title Заполните форму
                                    .form__row
                                        .form__label На какой номер вам перезвонить, чтобы уточнить детали вашего мероприятия?
                                        input(type="tel", name="tel" placeholder="+7(___)___-__-__" required)
                                    .form__row
                                        .form__label Куда выслать готовый расчет?
                                        input(type="email", name="email" placeholder="mail@mail.ru" required)
                                    .form__row
                                        button.btn(type="submit") Получить расчет меню
                                    .form__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                                        a(href="#" data-toggle="modal" data-target="#privacy") Политикой конфиденциальности
        // End modal getMenu

        // Begin Modal getMenu
        .modal.fade.getMenu#getMenuMolecular
            .modal-dialog
                .modal-content
                    a(href="#" class="modal-close" data-dismiss="modal")
                    .modal-body
                        .getMenu__content
                            .getMenu__left
                                .section__title Заполните форму 
                                    br
                                    |и получите готовое коммерческое предложение 
                                    span уже через 2 часа 
                                .section__sub 3 варианта меню под ваш бюджет 
                                .twoHour__comment
                                    .twoHour__commentIcon
                                        img(src="img/comment.png", alt="")
                                    .twoHour__commentContent После утверждения меню мы сможем назначить встречу 
                                        span для бесплатной дегустации
                            .getMenu__right
                                form.form(action="#" method="method")
                                    input(type="hidden", name="subject" value="Получить расчет молекулярного меню")
                                    .form__title Заполните форму
                                    .form__row
                                        .form__label На какой номер вам перезвонить, чтобы уточнить детали вашего мероприятия?
                                        input(type="tel", name="tel" placeholder="+7(___)___-__-__" required)
                                    .form__row
                                        .form__label Куда выслать готовый расчет?
                                        input(type="email", name="email" placeholder="mail@mail.ru" required)
                                    .form__row
                                        button.btn(type="submit") Получить расчет меню
                                    .form__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                                        a(href="#" data-toggle="modal" data-target="#privacy") Политикой конфиденциальности
        // End modal getMenu

        // Begin Modal getPlace
        .modal.fade.callBack#getPlace
            .modal-dialog.modal-dialog--sm
                .modal-content
                    a(href="#" class="modal-close" data-dismiss="modal")
                    .modal-body 
                        form.form(action="#" method="method")
                            input(type="hidden", name="subject" value="Получить каталог площадок")
                            .form__title Заполните форму
                            .form__row
                                .form__label На какой номер вам перезвонить, чтобы уточнить детали мероприятия?
                                input(type="tel", name="tel" placeholder="+7(___)___-__-__" required)
                            .form__row
                                .form__label Куда выслать каталог площадок?
                                input(type="email", name="email" placeholder="mail@mail.ru" required)
                            .form__row
                                button.btn(type="submit") Получить каталог площадок
                            .form__privacy Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
                                a(href="#" data-toggle="modal" data-target="#privacy") Политикой конфиденциальности
        // End modal getPlace

        //- Button trigger modal privacy
        //- button(class="btn btn-primary btn-lg" data-toggle="modal" data-target="#privacy") Click to open modal
        // Begin Modal privacy
        .modal.fade.privacy#privacy
            .modal-dialog
                .modal-content
                    a(href="#" class="modal-close" data-dismiss="modal")
                    .privacy__content 
                        h2 Политика конфиденциальности
                        p Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт «Мольберт Банкет», расположенный на доменном имени 
                            a(href="http://molbertcatering.ru") http://molbertcatering.ru
                            |, может получить о Пользователе во время использования сайта , программ и продуктов.
                        h3 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                        p 1.1.	В настоящей Политике конфиденциальности используются следующие термины:
                        p 1.1.1.	«Администрация сайта (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени Название организации, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                        p 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                        p 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                        p 1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                        p 1.1.5. «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
                        p 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
                        p 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
                        h3 2.	ОБЩИЕ ПОЛОЖЕНИЯ
                        p 2.1.	Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
                        p 2.2.	В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
                        p 2.3.	Настоящая Политика конфиденциальности применяется только к сайту «Мольберт Банкет». Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте.
                        p 2.4.	Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.
                        h3 3.	ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
                        p 3.1.	Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте или при оформлении заказа для приобретения Товара.
                        p 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы на Сайте «Мольберт Банкет» в разделе оставления заявок и включают в себя следующую информацию:
                        p 3.2.1. фамилию, имя, отчество Пользователя;
                        p 3.2.2. контактный телефон Пользователя;
                        p 3.2.3. адрес электронной почты (e-mail);
                        p 3.3. защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"): •	IP адрес; •	информация из cookies; •	информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы); •	время доступа; •	адрес страницы, на которой расположен рекламный блок; •	реферер (адрес предыдущей страницы).
                        p 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта , требующим авторизации.
                        p 3.3.2. осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
                        p 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
                        h3 4.	ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
                        p 4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:
                        p 4.1.1. Идентификации Пользователя, зарегистрированного на сайте.
                        p 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта.
                        p 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.
                        p 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
                        p 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
                        p 4.1.6. Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
                        p 4.1.7. Уведомления Пользователя Сайта о состоянии Заказа.
                        p 4.1.8. Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа, определения права на получение кредитной линии Пользователем.
                        p 4.1.9. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта .
                        p 4.1.10. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта или от имени партнеров .
                        p 4.1.11. Осуществления рекламной деятельности с согласия Пользователя.
                        p 4.1.12. Предоставления доступа Пользователю на сайты или сервисы партнеров с целью получения продуктов, обновлений и услуг.
                        h3 5.	СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
                        p 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
                        p 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте «Мольберт Банкет», включая доставку Товара.
                        p 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                        p 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
                        p 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                        h3 6.	ОБЯЗАТЕЛЬСТВА СТОРОН
                        p 6.1. Пользователь обязан:
                        p 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
                        p 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
                        p 6.2. Администрация сайта обязана:
                        p 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
                        p 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
                        p 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
                        p 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
                        h3 7.	ОТВЕТСТВЕННОСТЬ СТОРОН
                        p 7.1. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
                        p 7.1.1. Стала публичным достоянием до её утраты или разглашения.
                        p 7.1.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
                        p 7.1.3. Была разглашена с согласия Пользователя.
                        h3 8.	РАЗРЕШЕНИЕ СПОРОВ
                        p 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                        p 8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                        p 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
                        p 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
                        h3 9.	ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
                        p 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                        p 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте , если иное не предусмотрено новой редакцией Политики конфиденциальности.
                        p 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать указать раздел сайта
                        p 9.4. Действующая Политика конфиденциальности размещена на странице по адресу 
                            a(href="http://molbertcatering.ru") http://molbertcatering.ru.
                        p Для связи с администратором сайта по любым вопросам вы можете написать письмо на e-mail: 
                            a(href="mailto: zakaz@molbert-banket.ru") zakaz@molbert-banket.ru


        // End modal privacy

        script(src="js/jquery.js")
        script(src="js/jquery.inputmask.min.js")
        script(src="js/slick.min.js")
        script(src="js/modal.js")
        script(src="js/function.js?"+version+"")
