<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        link(rel="stylesheet", type="text/css", href="css/style.css?"+version+"")
    body
        // begin success
        section.section.success#success
            .container_center
                .success__content
                    .success__left
                        h2.section__title Спасибо за заявку!
                        .section__sub В нашем колл-центре уже идет драка за вашу заявку. Вам перезвонит выживший менеджер. 
                        .section__sub
                            b А пока подпишитесь на нас в соцсетях, 
                            |чтобы оценить наши блюда и быть в курсе наших акций и новинок
                        .success__action
                            a.btn(href="https://www.instagram.com/molbert.banket/") Перейти в Instagram
                            a.insta(href="https://www.instagram.com/molbert.banket/")
                                img(src="img/instagram-color.png", alt="Instagram")
                    .success__right
                        img.success__img(src="img/success.jpg", alt="")

        // end success
