.darkWrap {
    padding: 5.1em 0 4em;
    background: url("../img/darkbg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    color: $color_withe;

    @media (min-width: 768px) {
        padding: 6.8em 0 4em;
    }

    @media (max-width: 767px) {
        overflow: hidden;
        margin-right: -1px;
    }

    .section {
        &__title {
            color: $color_withe;

            span {
                color: #c6ad86;
            }
        }

        &__sub {
            color: #e5e5e5;

            span {
                color: #dfc297;
            }
        }
    }
}
