.darkenWrap {
    background: url("../img/darkenWrap.jpg") bottom center no-repeat;
    background-size: cover;
    padding: 5.4em 0 0;
    overflow: hidden;

    @media (min-width: 768px) {
        padding: 6.8em 0 0;
    }
    @media (max-width: 767px) {
        overflow: hidden;
        margin-right: -1px;
    }

    .section {
        &__title {
            color: $color_withe;
        }

        &__sub {
            color: $color_withe;
        }
    }
}
